<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
  <test thread-count="5" name="Test">
	  
	  <!--<groups>
		  <run>
			  <include name = "Sanity" />
		  </run>
	  </groups>-->
	  
	<classes>
    <class name="testSuitOrangeHRM">
      <methods>
		  
       	<include name="TC01_Login" />
        <include name="TC02_Login" />
        <include name="TC03_EmployeeManagement" />
        <include name="TC04_EmployeeManagement" /> 
        <include name="TC05_EmployeeManagement" />
        <include name="TC06_EmployeePerformance" /> 
        <include name="TC07_EmployeePerformance" />
        <include name="TC08_EmployeeCareerDevelopment" />
        <include name="TC09_EmployeeRequestDesk" />
        <include name="TC10_EmployeeRecruitment" /> 
        
      </methods>
      
      
    </class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
